### Student Information
Name: 蔡沅珈 Tsai, Yuan-Chia

Student ID: 109164503

GitHub ID: 45623944

Kaggle name: chuck

Kaggle private scoreboard snapshot:

[Snapshot](img/pic0.png)

---

### Instructions

1. First: __This part is worth 30% of your grade.__ Do the **take home** exercises in the [DM2020-Lab2-Master Repo](https://github.com/fhcalderon87/DM2020-Lab2-Master). You may need to copy some cells from the Lab notebook to this notebook. 


2. Second: __This part is worth 30% of your grade.__ Participate in the in-class [Kaggle Competition](https://www.kaggle.com/c/dm2020-hw2-nthu/) regarding Emotion Recognition on Twitter. The scoring will be given according to your place in the Private Leaderboard ranking: 
    - **Bottom 40%**: Get 20% of the score (ie. 20% of 30% )

    - **Top 41% - 100%**: Get (101-x)% of the score, where x is your ranking in the leaderboard (ie. (101-x)% of 30% )   
    Submit your last submission __BEFORE the deadline (Dec. 5th 11:59 pm, Saturday)__. Make sure to take a screenshot of your position at the end of the competition and store it as '''pic0.png''' under the **img** folder of this repository and rerun the cell **Student Information**.
    

3. Third: __This part is worth 30% of your grade.__ A report of your work developping the model for the competition (You can use code and comment it). This report should include what your preprocessing steps, the feature engineering steps and an explanation of your model. You can also mention different things you tried and insights you gained. 


4. Fourth: __This part is worth 10% of your grade.__ It's hard for us to follow if your code is messy :'(, so please **tidy up your notebook** and **add minimal comments where needed**.


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/fhcalderon87/DM2020-Lab1-Master/blob/master/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb), but make sure to fork the [DM2020-Lab2-Homework](https://github.com/fhcalderon87/DM2020-Lab2-Homework) repository this time! Also please __DON´T UPLOAD HUGE DOCUMENTS__, please use Git ignore for that.

Make sure to commit and save your changes to your repository __BEFORE the deadline (Dec. 8th 11:59 pm, Tuesday)__.

# Part 1

# Exercise 1

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

X = train_df["text"]
count_vect = CountVectorizer()
X_counts = count_vect.fit_transform(X)

term_frequencies_X = []
for j in range(0,X_counts.shape[1]):
    term_frequencies_X.append(sum(X_counts[:,j].toarray()))
    
term_frequencies_X = np.asarray(X_counts.sum(axis=0))[0]

In [ ]:
new_term_frequencies_X = term_frequencies_X[term_frequencies_X > 0]
sort = np.argsort(-new_term_frequencies_X)
plt.subplots(figsize=(50, 10))
g = sns.barplot(x=np.asarray(count_vect.get_feature_names())[sort[:30]], 
            y=new_term_frequencies_X[sort[:30]])
g.set_xticklabels(count_vect.get_feature_names()[:30], rotation = 90);

In [ ]:
Y = test_df["text"]
count_vect = CountVectorizer()
Y_counts = count_vect.fit_transform(Y)

term_frequencies_Y = []
for j in range(0,Y_counts.shape[1]):
    term_frequencies_Y.append(sum(Y_counts[:,j].toarray()))
    
term_frequencies_Y = np.asarray(Y_counts.sum(axis=0))[0]

In [ ]:
new_term_frequencies_Y = term_frequencies_Y[term_frequencies_Y > 0]
sort = np.argsort(-new_term_frequencies_Y)
plt.subplots(figsize=(50, 10))
g = sns.barplot(x=np.asarray(count_vect.get_feature_names())[sort[:30]], 
            y=new_term_frequencies_Y[sort[:30]])
g.set_xticklabels(count_vect.get_feature_names()[:30], rotation = 90);

# Exercise 2

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk

TFIDF_vectorizer = TfidfVectorizer()

TFIDF_vectorizer.fit(train_df['text'])

TFIDF_1000 = TfidfVectorizer(max_features=1000, tokenizer=nltk.word_tokenize) 

TFIDF_1000.fit(train_df['text'])

train_data_TFIDF_features_1000 = TFIDF_1000.transform(train_df['text'])

feature_names_TFIDF_1000 = TFIDF_1000.get_feature_names()
feature_names_TFIDF_1000[100:110]

# Exercise 3

The confusion matrix can easily see which label predict right or wrong. For example, this model predict 110 result in fear, and 70 of them are right, as we can see the prediction target to sadness and anger are more than joy, which means the emotion fear is near than anger and sadness more. And we can see the prediction to fear is much more than others, which may have some way to improve this model.

# Exercise 4

In [ ]:
from sklearn.naive_bayes import MultinomialNB

X = BOW_500.transform(train_df['text'])
y = train_df['emotion']

clf = MultinomialNB()
clf.fit(X, y)
print(clf.predict(X[:10]))

# Exercise 5

When the number of data attributes is large or the correlation between attributes is large, Decision Tree is better than Naive Bayes. When the correlation between attributes is small, Naive Bayes will perform better.

# Exercise 6

In [ ]:
import matplotlib.pyplot as plt

train_accuracy = training_log['accuracy']
val_accuracy = training_log['val_accuracy']
train_loss = training_log['loss']
val_loss = training_log['val_loss']
epochs_list = np.array(range(1,epochs + 1))

plt.subplot(121)
plt.plot(epochs_list, train_accuracy, 'b')
plt.plot(epochs_list, val_accuracy, 'red')
plt.title('Training accuracy per epoch')
plt.xlabel('Epochs')
plt.ylabel('Accuracy')
plt.legend(('train_accuracy', 'val_accuracy'))

plt.subplot(122)
plt.plot(epochs_list, train_loss, 'b')
plt.plot(epochs_list, val_loss, 'red')
plt.title('Training loss per epoch')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend(('train_loss', 'val_loss'))

# Exercise 7

In each sentence, there have some key words for us to determine which emotion it should be, like birthday usually connected with happy. But some of the words can't help us to determine the emotion. For example, "I hate you" and "I love you", these two sentences have "I" and "you", but the emotion are totally different. In this case, we can pick "hate" and "love" to represent two different emotion, we don't need the whole sentence to identify the emotion. We can use these key "words" to represent the sentence data and train our model.

# Exercise 8

In [ ]:
word_list = ['angry', 'happy', 'sad', 'fear']

topn = 15
angry_words = ['angry'] + [word_ for word_, sim_ in w2v_google_model.most_similar('angry', topn=topn)]
happy_words = ['happy'] + [word_ for word_, sim_ in w2v_google_model.most_similar('happy', topn=topn)]        
sad_words = ['sad'] + [word_ for word_, sim_ in w2v_google_model.most_similar('sad', topn=topn)]        
fear_words = ['fear'] + [word_ for word_, sim_ in w2v_google_model.most_similar('fear', topn=topn)]        

print('angry_words: ', angry_words)
print('happy_words: ', happy_words)
print('sad_words: ', sad_words)
print('fear_words: ', fear_words)

target_words = angry_words + happy_words + sad_words + fear_words
print('\ntarget words: ')
print(target_words)

print('\ncolor list:')
cn = topn + 1
color = ['b'] * cn + ['g'] * cn + ['r'] * cn + ['y'] * cn
print(color)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE

model = w2v_google_model

size = 200
target_size = len(target_words)
all_word = list(model.vocab.keys())
word_train = target_words + all_word[:size]
X_train = model[word_train]

tsne = TSNE(n_components=2, metric='cosine', random_state=28)

X_tsne = tsne.fit_transform(X_train)

plt.figure(figsize=(7.5, 7.5), dpi=115)
plt.scatter(X_tsne[:target_size, 0], X_tsne[:target_size, 1], c=color)
for label, x, y in zip(target_words, X_tsne[:target_size, 0], X_tsne[:target_size, 1]):
    plt.annotate(label, xy=(x,y), xytext=(0,0),  textcoords='offset points')
plt.show()

# Part 3

In [ ]:
import json
import pandas as pd

In [20]:
# import json data
file = open("tweets_DM.json", 'r', encoding='utf-8')
data = []
for line in file.readlines():
    dic = json.loads(line)
    data.append(dic)

print(len(data))

1867535

In [21]:
# check data
data[:10]

[{'_score': 391,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': ['Snapchat'],
    'tweet_id': '0x376b20',
    'text': 'People who post "add me on #Snapchat" must be dehydrated. Cuz man.... that\'s <LH>'}},
  '_crawldate': '2015-05-23 11:42:47',
  '_type': 'tweets'},
 {'_score': 433,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': ['freepress', 'TrumpLegacy', 'CNN'],
    'tweet_id': '0x2d5350',
    'text': '@brianklaas As we see, Trump is dangerous to #freepress around the world. What a <LH> <LH> #TrumpLegacy.  #CNN'}},
  '_crawldate': '2016-01-28 04:52:09',
  '_type': 'tweets'},
 {'_score': 232,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': ['bibleverse'],
    'tweet_id': '0x28b412',
    'text': 'Confident of your obedience, I write to you, knowing that you will do even more than I ask. (Philemon 1:21) 3/4 #bibleverse <LH> <LH>'}},
  '_crawldate': '2017-12-25 04:39:20',
  '_type': 'tweets'},
 {'_score': 376,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': [],
    'tweet_id': '0x1cd5b0',
    'text': 'Now ISSA is stalking Tasha 😂😂😂 <LH>'}},
  '_crawldate': '2016-01-24 23:53:05',
  '_type': 'tweets'},
 {'_score': 989,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': [],
    'tweet_id': '0x2de201',
    'text': '"Trust is not the same as faith. A friend is someone you trust. Putting faith in anyone is a mistake." ~ Christopher Hitchens <LH> <LH>'}},
  '_crawldate': '2016-01-08 17:18:59',
  '_type': 'tweets'},
 {'_score': 120,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': ['authentic', 'LaughOutLoud'],
    'tweet_id': '0x1d755c',
    'text': '@RISKshow @TheKevinAllison Thx for the BEST TIME tonight. What stories! Heartbreakingly <LH> #authentic #LaughOutLoud good!!'}},
  '_crawldate': '2015-06-11 04:44:05',
  '_type': 'tweets'},
 {'_score': 1021,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': [],
    'tweet_id': '0x2c91a8',
    'text': 'Still waiting on those supplies Liscus. <LH>'}},
  '_crawldate': '2015-08-18 02:30:07',
  '_type': 'tweets'},
 {'_score': 481,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': [],
    'tweet_id': '0x368e95',
    'text': 'Love knows no gender. 😢😭 <LH>'}},
  '_crawldate': '2015-08-20 14:31:27',
  '_type': 'tweets'},
 {'_score': 827,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': ['LeagueCup'],
    'tweet_id': '0x249c0c',
    'text': '@DStvNgCare @DStvNg More highlights are being shown than actual sports! Who watches triathlon highlights anyway? <LH> #LeagueCup'}},
  '_crawldate': '2016-04-18 13:01:02',
  '_type': 'tweets'},
 {'_score': 66,
  '_index': 'hashtag_tweets',
  '_source': {'tweet': {'hashtags': ['materialism', 'money', 'possessions'],
    'tweet_id': '0x218443',
    'text': 'When do you have enough ? When are you satisfied ? Is you goal really all about money ?  #materialism #money #possessions <LH>'}},
  '_crawldate': '2015-09-09 09:22:55',
  '_type': 'tweets'}]

In [22]:
# transfer to dataframe
data1 = pd.DataFrame(data)

In [23]:
# see the result
data1[:10]

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets
5,120,hashtag_tweets,"{'tweet': {'hashtags': ['authentic', 'LaughOut...",2015-06-11 04:44:05,tweets
6,1021,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2c91...",2015-08-18 02:30:07,tweets
7,481,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x368e...",2015-08-20 14:31:27,tweets
8,827,hashtag_tweets,"{'tweet': {'hashtags': ['LeagueCup'], 'tweet_i...",2016-04-18 13:01:02,tweets
9,66,hashtag_tweets,"{'tweet': {'hashtags': ['materialism', 'money'...",2015-09-09 09:22:55,tweets

In [24]:
# we only need the _source part
data2 = pd.DataFrame(data1['_source'])

In [25]:
# check data
data2[:10]

                                             _source
0  {'tweet': {'hashtags': ['Snapchat'], 'tweet_id...
1  {'tweet': {'hashtags': ['freepress', 'TrumpLeg...
2  {'tweet': {'hashtags': ['bibleverse'], 'tweet_...
3  {'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...
4  {'tweet': {'hashtags': [], 'tweet_id': '0x2de2...
5  {'tweet': {'hashtags': ['authentic', 'LaughOut...
6  {'tweet': {'hashtags': [], 'tweet_id': '0x2c91...
7  {'tweet': {'hashtags': [], 'tweet_id': '0x368e...
8  {'tweet': {'hashtags': ['LeagueCup'], 'tweet_i...
9  {'tweet': {'hashtags': ['materialism', 'money'...

In [26]:
# check the type of this data
type(data2)

pandas.core.frame.DataFrame

In [ ]:
# export the _source part to do more pre-processing
outputpath='C:/Users/chuck/Desktop/jsondata.csv'
data2.to_csv(outputpath,sep=',', index=False, header=True)

In [29]:
# import data_identification.csv
import pandas as pd
import os 

os.chdir('C:\\Users\\chuck\\Desktop\\DM2020-Lab2-Homework-main')
fulldata = pd.read_csv('data_identification.csv')

In [30]:
# column name
fulldata.columns = ['tweet_id','identification']

In [31]:
# check data
fulldata

         tweet_id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

In [32]:
# sort by tweet_id
fulldata_sort = fulldata.sort_values(by=['tweet_id'])

In [33]:
# check the sort result
fulldata_sort

         tweet_id identification
1567789  0x1c7f0f           test
712459   0x1c7f10          train
554555   0x1c7f11          train
1556552  0x1c7f12           test
139922   0x1c7f13           test
...           ...            ...
48334    0x38fe19          train
594176   0x38fe1a          train
1743351  0x38fe1b           test
1077850  0x38fe1c          train
1259394  0x38fe1d          train

[1867535 rows x 2 columns]

In [34]:
# pick the train part
fulldata_sort_train = fulldata_sort[fulldata_sort['identification'] == 'train']

In [35]:
# check result
fulldata_sort_train

         tweet_id identification
712459   0x1c7f10          train
554555   0x1c7f11          train
46583    0x1c7f14          train
737534   0x1c7f15          train
288002   0x1c7f16          train
...           ...            ...
1657445  0x38fe18          train
48334    0x38fe19          train
594176   0x38fe1a          train
1077850  0x38fe1c          train
1259394  0x38fe1d          train

[1455563 rows x 2 columns]

In [36]:
# import emotion.csv
emotion = pd.read_csv('emotion.csv')

In [37]:
# column name
emotion.columns = ['tweet_id','emotion']

In [38]:
# check data
emotion

         tweet_id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [39]:
# sort by tweet_id
emotion_sort = emotion.sort_values(by=['tweet_id'])

In [40]:
# check the sort result
emotion_sort

         tweet_id       emotion
917613   0x1c7f10           joy
282085   0x1c7f11  anticipation
1383798  0x1c7f14           joy
466135   0x1c7f15           joy
737761   0x1c7f16       disgust
...           ...           ...
775713   0x38fe18       sadness
940737   0x38fe19  anticipation
125961   0x38fe1a      surprise
1368544  0x38fe1c       disgust
1102332  0x38fe1d       sadness

[1455563 rows x 2 columns]

In [47]:
# use excel to do some pre-processing on jsondata, because the data is too large, I split to two parts
os.chdir('C:\\Users\\chuck\\Desktop\\DM2020-Lab2-Homework-main')
jsondata1 = pd.read_csv('jsondata_part1.csv')
jsondata2 = pd.read_csv('jsondata_part2.csv')

In [48]:
# first part
jsondata1

         tweet_id                                               text
0        0x1c7f0f  ""@JZED74 While inappropriate AF, he likely wa...
1        0x1c7f10  'o m g Shut Up And Dance though #BlackMirror <...
2        0x1c7f11  'On #twitch <LH> on the #Destinybeta #Destiny ...
3        0x1c7f12  ""I tried to figure out why you mean so much t...
4        0x1c7f13  'The only â€œbig planâ€ you ever had in your ...
...           ...                                                ...
1048570  0x2c7f09     'Happy where my lifeâ€™s at right now <LH>'}}"
1048571  0x2c7f0a  '@TNVOL_1102 @glennsolitario Had a wedding tod...
1048572  0x2c7f0b  ""@VicOladipo Welcome to RSA. I'm coming all t...
1048573  0x2c7f0c  '@yashar @MaxineWaters @ericbolling is a sad l...
1048574  0x2c7f0d                            '<LH> is not enough'}}"

[1048575 rows x 2 columns]

In [49]:
# second part
jsondata2

        tweet_id                                               text
0       0x2c7f0e  "".@JenKernsUSA Girl, don't go on #AMJoy with ...
1       0x2c7f0f           'Working on two Audits. <LH> #EALife'}}"
2       0x2c7f10  'Lets show these boys how shit gets done in De...
3       0x2c7f11  'Lured my Son onto the couch w/ <LH> & #affect...
4       0x2c7f12  'At work not doing shit , on twitter taking sh...
...          ...                                                ...
818955  0x38fe19  'Where is #WesHoolahan?!  #WALvIRL #COYBIG <LH...
818956  0x38fe1a  '@mattmfm Fake news! <LH> propagated by Tumpki...
818957  0x38fe1b  ""I told myself I'd be twitter famous. twitter...
818958  0x38fe1c               '..today was brutal  ..#Hungover'}}"
818959  0x38fe1d  'Love it when I sun burn my forehead!! NOT!! ð...

[818960 rows x 2 columns]

In [50]:
# merge these two parts
jsonfull = pd.concat([jsondata1, jsondata2])

In [51]:
# check the result
jsonfull

        tweet_id                                               text
0       0x1c7f0f  ""@JZED74 While inappropriate AF, he likely wa...
1       0x1c7f10  'o m g Shut Up And Dance though #BlackMirror <...
2       0x1c7f11  'On #twitch <LH> on the #Destinybeta #Destiny ...
3       0x1c7f12  ""I tried to figure out why you mean so much t...
4       0x1c7f13  'The only â€œbig planâ€ you ever had in your ...
...          ...                                                ...
818955  0x38fe19  'Where is #WesHoolahan?!  #WALvIRL #COYBIG <LH...
818956  0x38fe1a  '@mattmfm Fake news! <LH> propagated by Tumpki...
818957  0x38fe1b  ""I told myself I'd be twitter famous. twitter...
818958  0x38fe1c               '..today was brutal  ..#Hungover'}}"
818959  0x38fe1d  'Love it when I sun burn my forehead!! NOT!! ð...

[1867535 rows x 2 columns]

In [52]:
# sort by tweet_id
jsonfull_sort = jsonfull.sort_values(by=['tweet_id'])

In [53]:
# check the sort result
jsonfull_sort

        tweet_id                                               text
0       0x1c7f0f  ""@JZED74 While inappropriate AF, he likely wa...
1       0x1c7f10  'o m g Shut Up And Dance though #BlackMirror <...
2       0x1c7f11  'On #twitch <LH> on the #Destinybeta #Destiny ...
3       0x1c7f12  ""I tried to figure out why you mean so much t...
4       0x1c7f13  'The only â€œbig planâ€ you ever had in your ...
...          ...                                                ...
818955  0x38fe19  'Where is #WesHoolahan?!  #WALvIRL #COYBIG <LH...
818956  0x38fe1a  '@mattmfm Fake news! <LH> propagated by Tumpki...
818957  0x38fe1b  ""I told myself I'd be twitter famous. twitter...
818958  0x38fe1c               '..today was brutal  ..#Hungover'}}"
818959  0x38fe1d  'Love it when I sun burn my forehead!! NOT!! ð...

[1867535 rows x 2 columns]

In [55]:
# add column identification
merge = pd.merge(jsonfull_sort, fulldata_sort, how='left', on='tweet_id')

In [56]:
# check the result
merge

,tweet_id,text,identification
0,0x1c7f0f,"""""@JZED74 While inappropriate AF, he likely wa...",test
1,0x1c7f10,'o m g Shut Up And Dance though #BlackMirror <...,train
2,0x1c7f11,'On #twitch <LH> on the #Destinybeta #Destiny ...,train
3,0x1c7f12,"""""I tried to figure out why you mean so much t...",test
4,0x1c7f13,'The only â€œbig planâ€ you ever had in your ...,test
...,...,...,...
1867530,0x38fe19,'Where is #WesHoolahan?! #WALvIRL #COYBIG <LH...,train
1867531,0x38fe1a,'@mattmfm Fake news! <LH> propagated by Tumpki...,train
1867532,0x38fe1b,"""""I told myself I'd be twitter famous. twitter...",test
1867533,0x38fe1c,"'..today was brutal ..#Hungover'}}""",train
1867534,0x38fe1d,'Love it when I sun burn my forehead!! NOT!! ð...,train

In [57]:
# choose the train part
merge_train = merge[merge['identification'] == 'train']

In [58]:
# check the result
merge_train

,tweet_id,text,identification
1,0x1c7f10,'o m g Shut Up And Dance though #BlackMirror <...,train
2,0x1c7f11,'On #twitch <LH> on the #Destinybeta #Destiny ...,train
5,0x1c7f14,'A nice sunny wak this morning not many <LH> a...,train
6,0x1c7f15,"""""I'm one of those people who love candy corn....",train
7,0x1c7f16,'@metmuseum What are these? They look like som...,train
...,...,...,...
1867529,0x38fe18,'@LJPBR @FifthHarmony Um My vote For @FifthHa...,train
1867530,0x38fe19,'Where is #WesHoolahan?! #WALvIRL #COYBIG <LH...,train
1867531,0x38fe1a,'@mattmfm Fake news! <LH> propagated by Tumpki...,train
1867533,0x38fe1c,"'..today was brutal ..#Hungover'}}""",train
1867534,0x38fe1d,'Love it when I sun burn my forehead!! NOT!! ð...,train

In [60]:
# add column emotion
merge_emotion = pd.merge(merge_train, emotion_sort, how='left', on='tweet_id')

In [61]:
# check the result
merge_emotion

,tweet_id,text,identification,emotion
0,0x1c7f10,'o m g Shut Up And Dance though #BlackMirror <...,train,joy
1,0x1c7f11,'On #twitch <LH> on the #Destinybeta #Destiny ...,train,anticipation
2,0x1c7f14,'A nice sunny wak this morning not many <LH> a...,train,joy
3,0x1c7f15,"""""I'm one of those people who love candy corn....",train,joy
4,0x1c7f16,'@metmuseum What are these? They look like som...,train,disgust
...,...,...,...,...
1455558,0x38fe18,'@LJPBR @FifthHarmony Um My vote For @FifthHa...,train,sadness
1455559,0x38fe19,'Where is #WesHoolahan?! #WALvIRL #COYBIG <LH...,train,anticipation
1455560,0x38fe1a,'@mattmfm Fake news! <LH> propagated by Tumpki...,train,surprise
1455561,0x38fe1c,"'..today was brutal ..#Hungover'}}""",train,disgust
1455562,0x38fe1d,'Love it when I sun burn my forehead!! NOT!! ð...,train,sadness

In [62]:
# choose the test part
merge_test = merge[merge['identification'] == 'test']

In [63]:
# check the result
merge_test

,tweet_id,text,identification
0,0x1c7f0f,"""""@JZED74 While inappropriate AF, he likely wa...",test
3,0x1c7f12,"""""I tried to figure out why you mean so much t...",test
4,0x1c7f13,'The only â€œbig planâ€ you ever had in your ...,test
8,0x1c7f17,"'Looking back on situations old & new, recent ...",test
9,0x1c7f18,'@jasoninthehouse Why do you insist on talking...,test
...,...,...,...
1867509,0x38fe04,"'""""The Grand Bargain"""" The Great American Betr...",test
1867511,0x38fe06,"""""I get to be a 1 year old girl's new mama sta...",test
1867524,0x38fe13,"""""Asian dude with dangly gold earrings is back...",test
1867525,0x38fe14,'I think @kostakoufos might be the worst playe...,test
1867532,0x38fe1b,"""""I told myself I'd be twitter famous. twitter...",test

In [ ]:
# save to pickle file
merge_emotion.to_pickle("train_df.pkl") 
merge_test.to_pickle("test_df.pkl")

In [3]:
# load a pickle file
train_df = pd.read_pickle("train_df.pkl")
test_df = pd.read_pickle("test_df.pkl")

In [6]:
# group to find distribution
train_df.groupby(['emotion']).count()['text']

emotion
anger            39867
anticipation    248935
disgust         139101
fear             63999
joy             516017
sadness         193437
surprise         48729
trust           205478
Name: text, dtype: int64

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
# build analyzers (bag-of-words)
BOW_vectorizer = CountVectorizer()

In [62]:
# learn a vocabulary dictionary of all tokens in the raw documents.
BOW_vectorizer.fit(train_df['text'])

# transform documents to document-term matrix.
train_data_BOW_features = BOW_vectorizer.transform(train_df['text'])
test_data_BOW_features = BOW_vectorizer.transform(test_df['text'])

In [63]:
# check the result
train_data_BOW_features

<1455563x838736 sparse matrix of type '<class 'numpy.int64'>'
	with 19183065 stored elements in Compressed Sparse Row format>

In [64]:
type(train_data_BOW_features)

scipy.sparse.csr.csr_matrix

In [68]:
# observe some feature names
feature_names = BOW_vectorizer.get_feature_names()
feature_names[10000:10050]

['1monsterdown',
 '1month',
 '1monthdown',
 '1monthfacelift',
 '1monthtogo',
 '1moocat',
 '1moonstruck_me',
 '1more',
 '1moreday',
 '1moreemily',
 '1moregaryfrank',
 '1morepoint',
 '1moresem',
 '1moresleep',
 '1morestep',
 '1moretime',
 '1moreweek',
 '1morewin',
 '1moreyear',
 '1moron',
 '1most',
 '1mpbrigade',
 '1mph',
 '1mrbigshot',
 '1mrlondon',
 '1ms',
 '1muarram1439ah',
 '1muharram1439ah',
 '1must',
 '1my',
 '1mzcinnamon',
 '1nanosecond',
 '1nasty',
 '1natashastevens',
 '1nation',
 '1nationality_',
 '1nce',
 '1nd',
 '1ndone',
 '1ndus',
 '1neednewcoach',
 '1nehope',
 '1nenokkadine',
 '1never',
 '1newsfan',
 '1newsnz',
 '1nextyear',
 '1nfernoastral_',
 '1nicole_shane',
 '1nicoleromany']

In [8]:
import nltk

# build analyzers (bag-of-words)
BOW_500 = CountVectorizer(max_features=500, tokenizer=nltk.word_tokenize) 

# apply analyzer to training data
BOW_500.fit(train_df['text'])

train_data_BOW_features_500 = BOW_500.transform(train_df['text'])

# check dimension
train_data_BOW_features_500.shape

C:\Users\chuck\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:484: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

(1455563, 500)

In [9]:
train_data_BOW_features_500.toarray()

array([[ 0,  1,  0, ...,  0,  0,  0],
       [ 0, 12,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 1,  2,  0, ...,  0,  0,  0],
       [ 0,  1,  0, ...,  0,  0,  0],
       [ 4,  3,  0, ...,  0,  1,  0]], dtype=int64)

In [10]:
# observe some feature names
feature_names_500 = BOW_500.get_feature_names()
feature_names_500[100:150]

['believe',
 'best',
 'better',
 'big',
 'birthday',
 'bless',
 'blessed',
 'both',
 'bring',
 'but',
 'buy',
 'by',
 'ca',
 'call',
 'called',
 'came',
 'can',
 'canâ€™t',
 'car',
 'care',
 'change',
 'christ',
 'come',
 'comes',
 'coming',
 'could',
 'country',
 'crazy',
 'damn',
 'day',
 'days',
 'did',
 'dm',
 'do',
 'does',
 'doing',
 'done',
 'donâ€™t',
 'down',
 'dream',
 'dreams',
 'each',
 'eat',
 'else',
 'end',
 'enjoy',
 'enough',
 'eurusd',
 'even',
 'ever']

In [67]:
# use DecisionTree
from sklearn.tree import DecisionTreeClassifier

X_train = BOW_500.transform(train_df['text'])
y_train = train_df['emotion']

X_test = BOW_500.transform(test_df['text'])

print('X_train.shape: ', X_train.shape)
print('y_train.shape: ', y_train.shape)
print('X_test.shape: ', X_test.shape)

X_train.shape:  (1455563, 500)
y_train.shape:  (1455563,)
X_test.shape:  (411972, 500)

In [ ]:
# build DecisionTree model
DT_model = DecisionTreeClassifier(random_state=0)

# training
DT_model = DT_model.fit(X_train, y_train)

# predict
y_train_pred = DT_model.predict(X_train)
y_test_pred = DT_model.predict(X_test)

# the pred result
y_test_pred[:10]

In [ ]:
# transfer result to dataframe
result = pd.DataFrame(y_test_pred)

In [ ]:
# check the result
result

In [ ]:
# export the result and submit the answer
outputpath='C:/Users/chuck/Desktop/result.csv'
result.to_csv(outputpath,sep=',', index=False, header=None)

In [11]:
# try on Naive Bayes
from sklearn.naive_bayes import MultinomialNB

X = BOW_500.transform(train_df['text'])
y = train_df['emotion']

clf = MultinomialNB()
clf.fit(X, y)
print(clf.predict(X[:10]))

['joy' 'joy' 'joy' 'joy' 'disgust' 'anticipation' 'joy' 'anticipation'
 'sadness' 'joy']

I try on DecisionTree and Naive Bayes, and DecisionTree get the better result. Which show that when the number of data attributes is large or the correlation between attributes is large, Decision Tree is better than Naive Bayes.